  @media only screen and (max-device-width: 600px){

        .bigimg-wraper{

            padding: 0px !important;

            text-align: center;

        }

        .bigimg-nav{

            width: auto !important;
        }


        .bigimg-serach-bar{

            width: 15% !important;

        }

        .homepagegallary .apartment-price{

            bottom: 70px !important;

        }

        .apartment-price{

            bottom: 76px;
            
        }

        .homepage-statistic{

            margin-bottom: 40px !important;

        }

        .bigadvertise{

            margin-bottom: 90px !important;
            
        }

        .bigadvertise-img{

            position: absolute !important;

            z-index: -1;

            width: 100% !important;

        }

        .footerlist{

            flex-direction: column !important;

        }

        .footerlist-iteam{

            margin: 10px 0;

            width: 200px;

        }
        
    }