.apartments-price {
    position: absolute;
    position: absolute;
    bottom: 54px;
    left: 20px;
    font-size: 41px;
    z-index: 999;
    color: white;
}

@media(min-width: 300px){

 .apartments-price {

        bottom: 70px;
        
        
    }

   
    .filter_list{

        top:159px !important;

   }
}

@media(min-width: 400px){

    .apartments-price {
   
           bottom: 99px;
           
           
       }

       .filter_list{

            top:189px !important;

       }
   }

   @media(min-width: 600px){

    .apartments-price {
   
           bottom: 120px;
           
           
       }

       .filter_list{

        top:215px !important;

   }
   }

   @media(min-width: 768px){

    .apartments-price {
   
           bottom: 68px;
           
           
       }

       .homepagegallary .apartments-price{

            bottom: 160px;

        
    }


       .filter_list{

        top:225px !important;

   }
   }
   

   @media(min-width: 1024px){

    .apartments-price {
   
           bottom: 52px;
           
           
       }

       .homepagegallary .apartments-price{

        bottom: 67px;

    
}
       
   }